@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model leads_hr_ltd.Models.Employee

@{
    ViewData["Title"] = "Insert Employee";
}

<h2>Insert Employee for HR</h2>

<form method="post" action="/api/HR/InsertEmplyeInfo"  >
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="EmployeeID">Employee ID</label>
                <input type="number" class="form-control" id="EmployeeID" name="EmployeeID" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" name="LastName" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Division">Division</label>
                <input type="text" class="form-control" id="Division" name="Division" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Building">Building</label>
                <input type="text" class="form-control" id="Building" name="Building" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" id="Title" name="Title" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Room">Room</label>
                <input type="text" class="form-control" id="Room" name="Room" required />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Insert Employee</button>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-3">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}
